<%- include("./partials/header") %>
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Register Please</a>
        <a href="/login" class="btn btn-danger btn-sm">Login</a>
    </div>
</nav>
<div class="container">
    <form action="/register" method="post" class="d-flex p-2">
        <input type="text" name="username" class="form-control" placeholder="Enter user">
        <input type="text" name="password" class="form-control mx-2" placeholder="Enter password">
        <input type="submit" value="Register" class="btn btn-md btn-primary mx-2">
    </form>
<%- include("./partials/footer") %>